<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>Python Interface for EduLinq's Lynx Grader</title>

        <link rel="icon" href="images/favicon.png">

        <link rel='stylesheet' type='text/css' href='css/style.css'>
    </head>
    <body>
        <div class='page'>
            <h1>Python Interface for EduLinq's Lynx Grader</h1>

            <div class='overview'>
                <p>
                    The canonical Python interface for <a href='https://github.com/edulinq/autograder-server'>EduLinq's Lynx Grader</a> ("Autograder").
                </p>
                <p>You can find this repository at <a href='https://github.com/edulinq/autograder-py'>github.com/edulinq/autograder-py</a>.</p>
                <p>Below you can find API references for various different version.</p>
                </p>
            </div>

            <div class='docs'>
                <span>Versions:</span>
                <ul>
                    <!-- API-DOC-MARKER -->
                </ul>
            </div>
        </div>
    </body>
</html>
